@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none; /* Chrome */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#root{
  margin: 0;
  padding: 0;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('src/images/Background.jpg');
  background-size: 120%;
  background-repeat: no-repeat;
}

.full {
  height: 100%;
}

.home-image{
  height: 70%;
  width: 100%;
}

.text-overlay{
  transform: translate(-50%, -50%);

}

