@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  margin: 0;
  padding: 0;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.full {
  height: 100%;
}

.home-image{
  height: 70%;
  width: 100%;
}

.text-overlay{
  transform: translate(-50%, -50%);

}

